//colors
$color__blue--500: #2f557e;
$color__blue--800: rgb(0, 32, 66);
$color__blue--100: #ebfcff;

//sizing
$default__sizing--base: 4px;
$default__sizing--xs: $default__sizing--base * 2;
$default__sizing--s: $default__sizing--base * 3;
$default__sizing--m: $default__sizing--base * 4;
$default__sizing--l: $default__sizing--base * 6;
$default__sizing--xl: $default__sizing--base * 8;
